.product-details-container{
    background-color: white;
    min-height: calc(100vh - 100px);
    border-radius: 5px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    
    .product-details-main {
        display: flex;
        justify-content: space-between;

        .product-details-image-container {
            width: 680px;
            height: 680px;
            border-radius: 5px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .product-details-info {
            display: flex;
            flex-direction: column;
            width: 30%;
            gap: 32px;
            color: #333333;

            div {
                display: flex;
                flex-direction: column;
                gap: 14px;
                .product-details-type {
                    color: #999999;
                    font-size: 14px;
                }
    
                .product-details-title {
                    font-weight: 600;
                    font-size: 24px;
                }
            }

            .product-details-price {
                font-size: 46px;
                display: flex;
            }

            .product-details-but {
                height: 40px;
                border-radius: 5px;
                border: none;
                background-color: #3483Fa;
                color: white;
                font-size: 15px;
                cursor: pointer;

                &:hover {
                    background-color: #2968c8;
                    transition: 0.2s ease;
                }
            }
        }
    }

    .product-details-description {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: #999999;

        span {
            font-size: 25px;
            font-weight: 600;
            color: #333333;
        }

        p {
            max-width: 70%;
            line-height: 25px;
        }
    }
}