.background {
    background-color: #eeeeee;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 60px);

    @media screen and (min-width: 320px) and (max-width: 768px) {
        padding: 0 10px 10px 10px;
    }


    .content {
        max-width: 1200px;
        width: 100%;
    }
}