.breadcrumb {
    margin: 16px 0;

    p {
        font-size: 14px;
        color: #999999;
        cursor:default;
    }

    svg {
        width: 6px;
        height: 8px;
    }

    .categories {
        display: flex;
        align-items: center;
        gap: 10px
    }
}