.error {
    width: 100%;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    p {
        color: gray;

        &.title {
            font-size: 30px;
        color: gray;
        }
    }
}