.cards-li {
    padding: 5px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(235, 235, 235, 0.486);
    display: flex;
    align-items: start;
    gap: 10px;
    border-radius: 5px;
    

    &:hover {
        box-shadow: 0 0 10px rgba(216, 216, 216, 0.616);
        cursor: pointer;
        transition: 0.1s ease-in-out;
        color: #3283f3;
    }

    div {
        display: flex;
        gap: 10px;
        width: 90%;
        max-height: 180px;

        @media(max-width:480px) {
            max-height: 150px; 
            width: 100%;
        }

        .cards-image-container {
            width: 180px;
            height: 180px;
            overflow: hidden;
            border-radius: 5px;
            flex-shrink: 0;

            @media(max-width:480px) {
                width: 150px;
                height: 150px;    
            }
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
        }
    
        .cards-main-info {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            gap: 20px;
    
            div {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
    
                span {
                    font-size: 23px;
                    text-wrap: nowrap;

                    @media(max-width:480px) {
                        font-size: 20px;   
                    }
                }
    
                img {
                    width: 20px;
                    height: 20px;
                }

                button {
                    padding: 5px;
                    background-color: rgba(236, 236, 236, 0.61);
                    border: 1px solid rgba(212, 212, 212, 0.575);
                    border-radius: 5px;
                    color: gray;
                    cursor: pointer;
                    margin-left: auto;

                    &:hover {
                        background-color: rgb(226, 226, 226);
                        transition: 0.2s ease-in-out;
                    }
                }
            }

            span {
                max-width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}